* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #698488;
}
.text-center {
  text-align: center;
}
.site-header {
  font-size: 15px;
  background-color: #bcd7e8;
  padding: 20px;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
.nav-bar li a {
  color: rgb(251, 251, 251);
  text-decoration: none;
}
.nav-bar {
  background-color: #698488;
}
footer {
  background-color: #bed9ea;
}
.hijo {
  margin: 10px 10px 10px 10px;
}
.hijo img {
  height: 400px;
  width: 350px;
}
.grid-padre {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 30px;
}
.btn {
  text-decoration: none;
  margin: 10px 0px;
  background-color: rgb(67, 64, 64);
  color: azure;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:hover {
  background-color: black;
  color: rgb(213, 30, 30);
}
footer .iconos img {
  height: 30px;
  width: 30px;
}
.iconos img:hover {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .hijo img {
    width: 250px;
    height: 250px;
  }
  .grid-padre {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 600px) {
  .hijo img {
    width: 250px;
    height: 250px;
  }
  .grid-padre {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}
